{% extends 'plantilla_navegador.html' %}
{% load static %}
{% block bloque_uno %}

<div class="d-flex justify-content-center">

    <form action="/new_ingredient" method="post" id="new_ingredient">
        {% csrf_token %}
        <h5>Insert new ingredient</h5> <br>
        <div class="form-group">
            <label for="name">Name:</label>
            <input form="new_ingredient" type="text" name="value_ingredient" id="name" size="40"></p>
        </div>

        <h5>Nutritional facts</h5> <br>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="kcal">Kcal:</label>
                <input type="text" name="value_Kcal" id="kcal" size="5">
            </div>
            <div class="form-group col-md-4">
                <label for="Carbohydrates">Carbohydrates:</label>
                <input type="text" name="value_Carbohidrates" id="Carbohydrates" size="5">
            </div>
            <div class="form-group col-md-4">
                <label for="Protein">Protein:</label>
                <input type="text" name="value_Proteina" id="Protein" size="5">
            </div>
            <div class="form-group col-md-4">
                <label for="Fat">Fat:</label>
                <input type="text" name="value_Grasas" id="Fat" size="5">
            </div>
            <div class="form-group col-md-3">
                <label for="Fiber">Fiber:</label>
                <input type="text" name="value_Fibra" id="Fiber" size="5">
            </div>
        </div>
        </p>
        <h5>Diet type</h5> <br>
        <div class="form-check">

            <input type="hidden" class="form-check-input" name="value_Omnivore" value="0">
            <input type="checkbox" class="form-check-input" name="value_Omnivore" value="1" id="Omnivore"
                   checked="checked">
            <label for="Omnivore">Omnivore:</label>
        </div>
        <div class="form-check">

            <input type="hidden" name="value_Vegetarian" value="0">
            <input type="checkbox" class="form-check-input" name="value_Vegetarian" value="1" id="Vegetarian"
                   checked="checked">
            <label for="Vegetarian">Vegetarian:</label>
        </div>
        <div class="form-check">

            <input type="hidden" name="value_Vegan" value="0">
            <input type="checkbox" class="form-check-input" name="value_Vegan" value="1" id="Vegan"
                   checked="checked">
            <label for="Vegan">Vegan:</label>
        </div>
        </p>
        <p><h5>Allergens</h5>
        <div class="form-check inline">
            <input type="hidden" name="value_Milk" value="0">
            <input type="checkbox" class="form-check-input" name="value_Milk" value="1"> Milk
        </div>
        <div class="form-check inline">
            <input type="hidden" name="value_Eggs" value="0">
            <input type="checkbox" class="form-check-input" name="value_Eggs" value="1"> Eggs
        </div>
        <div class="form-check inline">
            <input type="hidden" name="value_Fish" value="0">
            <input type="checkbox" class="form-check-input" name="value_Fish" value="1"> Fish
        </div>
        <div class="form-check inline">
            <input type="hidden" name="value_Crustaceans" value="0">
            <input type="checkbox" class="form-check-input" name="value_Crustaceans" value="1"> Crustaceans
        </div>
        <div class="form-check inline">
            <input type="hidden" name="value_Nuts" value="0">
            <input type="checkbox" class="form-check-input" name="value_Nuts" value="1"> Nuts
        </div>
        <div class="form-check inline">
            <input type="hidden" name="value_Peanuts" value="0">
            <input type="checkbox" class="form-check-input" name="value_Peanuts" value="1"> Peanuts
        </div>
        <div class="form-check inline">
            <input type="hidden" name="value_Gluten" value="0">
            <input type="checkbox" class="form-check-input" name="value_Gluten" value="1"> Gluten
        </div>
        <div class="form-check inline">
            <input type="hidden" name="value_Soy" value="0">
            <input type="checkbox" class="form-check-input" name="value_Soy" value="1"> Soy
        </div>
        <br>
        </p>
        <p><h5>Season</h5>
            January <input type="hidden" name="value_January" value="0">
            <input type="checkbox" name="value_January" value="1" checked="checked">
            February <input type="hidden" name="value_February" value="0">
            <input type="checkbox" name="value_February" value="1" checked="checked">
            Mars <input type="hidden" name="value_Mars" value="0">
            <input type="checkbox" name="value_Mars" value="1" checked="checked">
            April <input type="hidden" name="value_April" value="0">
            <input type="checkbox" name="value_April" value="1" checked="checked">
            May <input type="hidden" name="value_May" value="0">
            <input type="checkbox" name="value_May" value="1" checked="checked">
            Jun <input type="hidden" name="value_Jun" value="0">
            <input type="checkbox" name="value_Jun" value="1" checked="checked">
            July <input type="hidden" name="value_July" value="0">
            <input type="checkbox" name="value_July" value="1" checked="checked">
            August <input type="hidden" name="value_August" value="0">
            <input type="checkbox" name="value_August" value="1" checked="checked">
            September <input type="hidden" name="value_September" value="0">
            <input type="checkbox" name="value_September" value="1" checked="checked">
            October <input type="hidden" name="value_October" value="0">
            <input type="checkbox" name="value_October" value="1" checked="checked">
            November <input type="hidden" name="value_November" value="0">
            <input type="checkbox" name="value_November" value="1" checked="checked">
            December <input type="hidden" name="value_December" value="0">
            <input type="checkbox" name="value_December" value="1" checked="checked">
        </p>
        <input type="submit">
    </form>

</div>
{% endblock %}