{% extends 'plantilla_navegador.html' %}
{% load static %}
{% block bloque_uno %}
<div class="d-flex justify-content-center">

    <form id="recipe_form" action="/new_recipe" method="POST">
        {% csrf_token %}
        <h5>Insert new ingredient</h5><br>
        Title: <input type="text" name="value_title" size="40"><br>
        Preparation time: <input type="text" name="value_time" size="40"><br>
        <label for="difficulty">Difficulty:</label>
        <select form="recipe_form" name="value_difficulty" id="difficulty">
            <option value="easy"> Easy</option>
            <option value="medium"> Medium</option>
            <option value="hard"> Hard</option>
            <option value="expert"> Expert</option>
        </select><br>
        <label>Instructions:</label><br>
        <textarea form="recipe_form" name="value_description" cols="100" rows="20"></textarea><br><br>
    </form>
</div>
<label>Ingredients list:</label><br>
<input type="text" id="myInput" onkeyup="filter_table()" placeholder="Search for ingredients.."><br>

<!--    -->
<!--    Filters:<br>-->
<!--    Diet type:-->
<!--    <input type="checkbox" id = "Classic"       name = "Classic"        onchange="filter_table()">  Classic-->
<!--    <input type="checkbox" id = "Vegetarian"    name = "Vegetarian"     onchange="filter_table()">  Vegetarian-->
<!--    <input type="checkbox" id = "Vegan"         name = "Vegan"          onchange="filter_table()">  Vegan<br><br>-->

<!--    Allergen Free:-->
<!--    <input type="checkbox" id = "Lactose"       name = "Lactose"        onchange="filter_table()">  Lactose-->
<!--    <input type="checkbox" id = "Eggs"          name = "Eggs"           onchange="filter_table()">  Eggs-->
<!--    <input type="checkbox" id = "Fish"          name = "Fish"           onchange="filter_table()">  Fish-->
<!--    <input type="checkbox" id = "Crustaceans"   name = "Crustaceans"    onchange="filter_table()">  Crustaceans-->
<!--    <input type="checkbox" id = "Nuts"          name = "Nuts"           onchange="filter_table()">  Nuts-->
<!--    <input type="checkbox" id = "Peanuts"       name = "Peanuts"        onchange="filter_table()">  Peanuts-->
<!--    <input type="checkbox" id = "Gluten"        name = "Gluten"         onchange="filter_table()">  Gluten-->
<!--    <input type="checkbox" id = "Soy"           name = "Soy"            onchange="filter_table()">  Soy<br>-->
<!--    -->

<table id="myTable" style="width:100%">
    <tr class="header">
        <th>selected</th>
        {% for name in names %}
        <th>{{name.0}}</th>
        {% endfor %}
    </tr>
    {% for ingredient in ingredients %}
    <tr>
        <td><input form="recipe_form" type="checkbox" name="value_ingredient" value="{{ingredient.0}}"
                   onchange="filter_table()"></td>
        {%for column in ingredient %}
        <td>{{column}}</td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>

<input form="recipe_form" type="submit">

{% endblock %}