<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <script>
            function add_field(){

                var x = document.getElementById("form");
                // create an input field to insert
                var new_field = document.createElement("input");
                // set input field data type to text
                new_field.setAttribute("type", "text");
                // set input field name
                new_field.setAttribute("name", "text_field[]");
                // select last position to insert element before it
                var pos = x.childElementCount;
                // insert element
                x.insertBefore(new_field, x.childNodes[pos]);
            }
        </script>
</head>
<body>
    <a href="{% url 'home' %}">         Home Page</a>
    <a href="{% url 'recipes' %}">      Recipes</a>
    <a href="{% url 'ingredients' %}">  Ingredients</a>
    <br><br>Insert new Recipe:
    <form id="Recipe" action="/new_recipe" method="post" >
        {% csrf_token %}
        Title:                   <input type="text" name="value_title"      size="40"><br>
        Preparation time:        <input type="text" name="value_time"       size="40"><br>
    </form>
    <label for="difficulty">Difficulty:</label>
        <select name="difficulty" id="difficulty" form="Recipe">
            <option value="easy">   Easy    </option>
            <option value="medium"> Medium  </option>
            <option value="hard">   Hard    </option>
            <option value="expert"> Expert  </option>
        </select><br>
    Instructions:<br>
    <textarea name="Recipe_instructions" cols="100" rows="20" form="Recipe"></textarea><br><br>

    <input type="submit">


</body>
</html>